.input-control:focus{
    border-color: none;
    box-shadow: none;
}

.input-component{
    box-shadow: none; 
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: 100%; /* Adjust width as needed */
}

.search-icon {
    margin-right: 10px; /* Space between icon and input */
    font-size: 18px; /* Adjust icon size */
}

input[type="text"] {
    border: none;
    outline: none;
    flex: 1; /* Allow input to take remaining space */
    padding: 5px;
    font-size: 16px; /* Adjust input font size */
    width: 100%; /* Adjust width as needed */
}

.search-bar input{
    color: white ;
    transition: border-color 0.3s;
}
