/* Set | Background color , padding and margin*/
*{
    padding: 0;
    margin: 0;
}

html {
    background-image: url('../../src/assets/chat-main-image.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow-x: hidden; 
    overflow-y: hidden;
    height: 100%;
}